@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrosel.css);

:root{
    --cor-de-fundo: #e4e4e4;
    --branco: #ffffff;
    --rosa-degrade: linear-gradient(94.49deg, #733887 35.48%, #C75EEB 143.32%);
    --laranja: #FECD2F;
    --azul: #002F52;
    --preto-transparente: rgba(0, 0, 0, 0.85);
    --rosa-titulo: #4EBFE9;
    --fonte-principal: font-family: 'Poppins';
    --fonte-secundaria: font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}